li {
	list-style-type: none;
	font-size: 16pt;
}
.mail {
	margin: auto;
	padding-top: 10px;
	width: 400px;
	padding-bottom: 10px;
	background: #6e7c7c;
	border: 1px solid silver;
	border-radius: 10%;
}
.mail h2 {
	margin-left: 38px;
}
input {
	font-size: 20pt;
	
}
input :focus,
textarea:focus {
	background-color: #c8c6a7;
}
input submit {
	font-size: 12pt;
	
}
.rq {
	color: #c8c6a7;
	font-size: 10pt;
}
